.primary, .secondary, .tertiary, .landing {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  background-color: #89608E;
  color: #fff;
}

.primary{

}

.secondary{

}

.tertiary{

}

.landing {
  font-size: 18px;
  padding: 15px;
}
