
.bg {
  background-color: #254441;
  color: #fff;
  padding: 50px 0;
}

.title{
  margin: 0;
  font-weight: normal;
}

.desc {
  color: #aaa;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.image {
  max-width: 360px;
  max-height: 360px;
  object-fit: cover;
}

.column {
  display: flex;
  align-items: center;
}

.button{
  background-color: transparent;
}
